@charset "utf-8";

/* Eeeat
 * @author            Phantr4x
 * @version           0.0.1
 * @last-time         2015.10.24
 *
 */


/* 文件载入
 ----------------------------------------------------------*/
 @import  "./style/data";                    /* 变量文件  */
 @import  "./style/font";					 /* Web 字体  */
 @import  "./style/mixin";                   /* 混入文件  */
 @import  "./style/animation";				 /* CSS3动画  */
 @import  "./reset";                  		 /* CSS Reset */
 @import  "./csshake";                 		 /* css hake  */


/* 页面
 ---------------------------------------------------------- */
html, body {
	width: 100%;
	height: 100%;
}
.floor {
    text-align: center;
    font: 64vh/90vh normal 'BlackKnightFLF';
    color: #02a8fe;
}
.stop {
    position: fixed;
    width: 100%;
    height: 10vh;
    border: none;
    text-align: center;
    font: 6vh/10vh normal 'BlackKnightFLF';
    background: #02a8fe;
    color: #fff;
    transition: background ease-in-out .1s;
    &:hover, &:active {
        background: lighten(#02a8fe, 5%);
    }
}
